BASE_URL=https://www.facebook.com
ALLOWED_DOMAIN=facebook.com
BROWSER=firefox
HEADLESS=false
BROWSER_PROFILE_DIR=./runtime/profiles/firefox-marketplace
SCREENSHOT_DIR=./screenshots
WAIT_FOR_MANUAL_READY=true
MARKETPLACE_LISTING_TITLE=Botitas de gamuza tipo desert
MARKETPLACE_GROUP_NAME=Las Piedras, la paz Progreso, Colon
