# Python
__pycache__/
.pytest_cache/
*.pyc
.venv/

# Env
.env
.env.*
!.env.example
*.log
*.pem
*.key
*.crt
*.p12

# Playwright / logs / artifacts
logs/
screenshots/
playwright-report/
test-results/

# IDE
.vscode/

# OS
.DS_Store